*{
    overflow-x: hidden;
}

.products {
    margin: 0 auto;
    width: 100%;
    padding: 50px;
    
}

.products li {
    height: 480px;
    border: 2px dashed black;
    border-radius: 70px;
    list-style: none;
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin-left: 10px;
    box-sizing: border-box;


}

.products li:hover {
    height: 480px;
    border: 2px solid rgb(255, 0, 0);
    list-style: none;
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin-left: 10px;


}

.products li:active {
    color: red;
}

.products h2 {
    font-size: 30px;
    font-weight: bold;
}

.price {
    font-size: 22px;
    font-weight: bold;
}
